<div class="webchat-container webchat-order-descending">
	<div class="webchat-header">
	</div>
	<div class="webchat-editor">
	</div>
	<div class="webchat-content-container">
		<div class="webchat-fade webchat-fade-top"></div>
		<div class="webchat-content">
		</div>
		<div class="webchat-fade webchat-fade-bottom"></div>
	</div>
	<div class="webchat-participants">
	</div>
</div>
