<form accept-charset="utf-8">
	<div class="o-grid-row">
		<div data-o-grid-colspan="8">
			<textarea class="new-msg o-forms__textarea"></textarea>

			{{#keyTextEnabled}}
				<input type="text" class="key-text webchat-hidden o-forms__text" placeholder="{{insertKeyText}}" value="" />
			{{/keyTextEnabled}}

			<div class="webchat-emoticons">
				<ul>
					{{#emoticons}}
						<li class="webchat-emoticon-list-item"><span class="webchat-emoticon webchat-emoticon--{{code}}" data-code="{{code}}"></span></li>
					{{/emoticons}}
				</ul>
			</div>
		</div>
		<div data-o-grid-colspan="4">
			<div class="o-forms">
				<div class="options">
					{{#isEditor}}
						<div class="session-options">
							<a href="#" class="session-control">
								{{#sessionInProgress}}
									End
								{{/sessionInProgress}}
								{{^sessionInProgress}}
									Start
								{{/sessionInProgress}}
								session now
							</a>
						</div>
					{{/isEditor}}

					<input type="checkbox" class="check opt-send-on-enter o-forms__checkbox o-forms__checkbox--small" id="opt-send-on-enter" />
					<label for="opt-send-on-enter" class="o-forms__label">
						Send on [enter]
					</label>

					<input type="checkbox" class="check opt-quote o-forms__checkbox o-forms__checkbox--small" id="opt-quote" />
					<label for="opt-quote" class="o-forms__label">
						Send as quote
					</label>

					{{#keyTextEnabled}}
							<input type="checkbox" class="check key-event-check o-forms__checkbox o-forms__checkbox--small" id="key-event-check" />
							<label for="key-event-check" class="o-forms__label">
								Key event
							</label>
					{{/keyTextEnabled}}

					<button type="button" class="o-buttons o-buttons--mono submit button">Send</button>

					<div class="wiki-key">
						<span class="highlight">*</span>bold<span class="highlight">*</span>
						<br/>
						<span class="highlight">/</span>italics<span class="highlight">/</span>
						<br/>
						<span class="highlight">&gt;</span>block quote
						<br/>
						<span class="highlight">[</span>http://url.com Link<span class="highlight">]</span>
						<br/>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{{#isEditor}}
<div class="o-grid-row">
	<div data-o-grid-colspan="12">
		{{#invitationEnabled}}
		<button type="button" class="o-buttons webchat--invite-participant">Invite a contributor</button>
		{{/invitationEnabled}}
		<a href="https://tagme.ft.com/uuid/{{uuid}}" class="o-buttons webchat--edit-metadata">Edit metadata</a>
	</div>
</div>
{{/isEditor}}
