<div class="webchat-msg-editform clearfix">
	<form>
		<div class="o-grid-row">
			<div data-o-grid-colspan="8">
				<textarea class="msgtext o-forms-textarea">{{message}}</textarea>

				{{#keyEventEnabled}}
					<input class="key-text o-forms-text {{^keyText}}webchat-hidden{{/keyText}}" name="keytext" value="{{keyText}}"></input>
				{{/keyEventEnabled}}
			</div>
			<div data-o-grid-colspan="4">
				<div class="o-forms-group">
					<div class="options">
						<button class="btn-cancel button" type="button">Cancel</button>
						<div class="isblockquote">
							<input type="checkbox" name="isblockquote" id="isblockquote" {{#isBlockquote}}checked{{/isBlockquote}} class="o-forms-checkbox o-forms-checkbox--small" />
							<label for="isblockquote" class="o-forms-label">
								Send as quote
							</label>
						</div>

						{{#keyEventEnabled}}
							<input type="checkbox" class="check key-event o-forms-checkbox o-forms-checkbox--small" name="iskeyevent" id="iskeyevent" {{#keyText}}checked{{/keyText}} />
							<label for="iskeyevent" class="o-forms-label">
								Key event
							</label>
						{{/keyEventEnabled}}

						<button class="btn-save button o-buttons o-buttons--uncolored" type="button">Save changes</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
