<form accept-charset="utf-8">
	<div class="o-grid-row">
		<div data-o-grid-colspan="8">

			<label class="o-forms-field">
				<span class="o-forms-input o-forms-input--textarea">
					<textarea class="new-msg" aria-label="Message">{{message}}</textarea>
				</span>
			</label>

			{{#keyTextEnabled}}
				<label class="o-forms-field webchat-hidden">
					<span class="o-forms-input o-forms-input--text">
						<input type="text" class="key-text o-forms__text" placeholder="{{insertKeyText}}" value="" />
					</span>
				</label>
			{{/keyTextEnabled}}

			<div class="webchat-emoticons">
				<ul>
					{{#emoticons}}
						<li class="webchat-emoticon-list-item"><span class="webchat-emoticon webchat-emoticon--{{code}}" data-code="{{code}}"></span></li>
					{{/emoticons}}
				</ul>
			</div>
		</div>
		<div data-o-grid-colspan="4">
			<div class="o-forms">
				<div class="options">
					{{#isEditor}}
						<div class="session-options">
							<a href="#" class="session-control">
								{{#sessionInProgress}}
									End
								{{/sessionInProgress}}
								{{^sessionInProgress}}
									Start
								{{/sessionInProgress}}
								session now
							</a>
						</div>
					{{/isEditor}}

					<div class="o-forms-field" role="group">
						<span class="o-forms-input o-forms-input--checkbox">
								<label>
									<input class="opt-send-on-enter" id="opt-send-on-enter" type="checkbox" aria-label="Send on [enter]">
									<span class="o-forms-input__label" aria-hidden="true">Send on [enter]</span>
								</label>
								<label>
									<input class="opt-quote" id="opt-quote" type="checkbox" aria-label="Send as quote">
									<span class="o-forms-input__label" aria-hidden="true">Send as quote</span>
								</label>

							{{#keyTextEnabled}}
									<label>
										<input class="key-event-check" id="key-event-check" type="checkbox" aria-label="Key event">
										<span class="o-forms-input__label" aria-hidden="true">Key event</span>
									</label>
							{{/keyTextEnabled}}
						</span>
					</div>

					<button type="button" class="o-buttons o-buttons--secondary o-buttons--mono submit button">Send</button>

					<div class="wiki-key">
						<span class="highlight">*</span>bold<span class="highlight">*</span>
						<br/>
						<span class="highlight">/</span>italics<span class="highlight">/</span>
						<br/>
						<span class="highlight">&gt;</span>block quote
						<br/>
						<span class="highlight">[</span>http://url.com Link<span class="highlight">]</span>
						<br/>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{{#isEditor}}
<div class="o-grid-row">
	<div data-o-grid-colspan="12">
		{{#invitationEnabled}}
		<button type="button" class="o-buttons o-buttons--secondary webchat--invite-participant">Invite a contributor</button>
		{{/invitationEnabled}}
		<a href="{{tagmeUrl}}/uuid/{{uuid}}" target="_blank" class="o-buttons o-buttons--secondary webchat--edit-metadata">Edit metadata</a>
	</div>
</div>
{{/isEditor}}
