<form accept-charset="utf-8">
	<div class="options">
		{{#isEditor}}
			<div class="session-options">
				<a href="#" class="session-control">
					{{#sessionInProgress}}
						End
					{{/sessionInProgress}}
					{{^sessionInProgress}}
						Start
					{{/sessionInProgress}}
					session now
				</a>
			</div>
		{{/isEditor}}
		<label>
			<input type="checkbox" class="check opt-send-on-enter" /> Send on [enter]</label>
		<br />
		<label>
			<input type="checkbox" class="check opt-quote" /> Send as quote</label>
		{{#keyTextEnabled}}
			<br />
			<label class="key-label">
				<input type="checkbox" class="check key-event-check"> Key event
			</label>
		{{/keyTextEnabled}}
		<br />
		<br />
		<button type="button" class="submit button">Send</button>
		<br />
	</div>
	<textarea class="new-msg"></textarea>
	{{#keyTextEnabled}}
		<input type="text" class="key-text webchat-hidden" placeholder="{{insertKeyText}}" value="" />
	{{/keyTextEnabled}}
</form>
<div class="wiki-key">
	<span class="highlight">*</span>bold<span class="highlight">*</span>
	<br/>
	<span class="highlight">/</span>italics<span class="highlight">/</span>
	<br/>
	<span class="highlight">&gt;</span>block quote
	<span class="highlight">[</span>http://url.com Link<span class="highlight">]</span>
	<br/>
</div>
<div class="emoticons">
	<ul>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/thumbs_down.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/thumbs_up.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/teeth_smile.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/cry_smile.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/omg_smile.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/embarassed_smile.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/censored.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/angry_smile.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/devil_smile.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/wink_smile.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/lightbulb.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/bandit1.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/bandit2.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/bandit3.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/bandit4.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/bandit5.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/bandit6.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/bandit7.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/bandit8.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/bandit9.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/bandit10.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/bear.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/bull.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/buy.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/sell.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/cash.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/danger.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/deadcat.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/feltcollaredsource.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/financier.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/rocket.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/scorchedfingers.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/swag.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/tinhat.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/separator.gif" /></li>
		<li><img alt="Emoticon" src="http://test.ftalphaville.ft.com/wp-content/plugins/assanka_web_chat/img/emoticons/breaking_news.gif" /></li>
	</ul>
</div>
