<div class="webchat-lozenge"></div>
<div class="webchat-title"><h2>Markets live</h2></div>
<div class="webchat-excerpt"><h2>Live markets commentary from FT.com</h2></div>
<div class="webchat-keypoints">
	<ul></ul>
</div>
