.webchat-content-container {
	position: relative;

	.webchat-connection-status {
		display: none;
		position: absolute;
		top: 0;
		width: 100%;
		padding: 5px;
		text-align: center;
		background-color: oColorsGetPaletteColor('red-tint2');
		color: oColorsGetPaletteColor('white');
		border-bottom: 2px solid oColorsGetPaletteColor('cold-1');
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
		z-index: 1;
	}

	.webchat-session-ended-message {
		position: absolute;
		top: 0;
		padding: 10px 10%;
		background: oColorsGetPaletteColor('warm-1');
		left: 0;
		font-weight: 500;
		width: 80%;
		z-index: 1;
	}
}

.webchat-content {
	-webkit-overflow-scrolling: touch;
}

.webchat-content,
.webchat-closed-content {
	position: relative;
	border: 0;

	.msg {
		@include oGridRow();

		position: relative;
		font-size: 15px;
		line-height: 1.4;
		transition: opacity 0.5s ease-out;
		padding: 5px 8px;
		box-sizing: border-box;


		.messagebody {
			@include oGridColspan(8);

			@include oGridRespondTo(S) {
				@include oGridColspan(9);
			}

			@include oGridRespondTo(L) {
				@include oGridColspan(9);
			}

			@include oGridRespondTo(XL) {
				@include oGridColspan(9);
			}
		}


		&.price:before {
			background-image: url(oAssetsResolve("src/images/icons/charticon.png", webchat));
		}

		&.sysmsg:before {
			background-image: url(oAssetsResolve("src/images/icons/loudhailer.png", webchat));
		}

		&.price:before,
		&.sysmsg:before {
			@include oGridColspan(1);
			content: '';

			background-repeat: no-repeat;
			background-position: oGridGutter() 3px;

			@include oGridRespondTo(S) {
				background-position: oGridGutter(S) 3px;
			}

			@include oGridRespondTo(M) {
				background-position: oGridGutter(M) 3px;
			}

			@include oGridRespondTo(L) {
				background-position: oGridGutter(L) 3px;
			}

			@include oGridRespondTo(XL) {
				background-position: oGridGutter(XL) 3px;
			}
		}

		&.separator {
			font-weight: bold;
			border-top: 1px solid #f4cec1;
			border-bottom: 1px solid #f4cec1;

			.messagebody {
				@include oGridColspan(12);
			}
		}

		p {
			margin: 0;
		}

		&:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: " ";
			clear: both;
			height: 0;
		}

		&.delete-progress {
			opacity: 0.5;
		}

		blockquote {
			border: 1px solid #dddddd;
			border-radius: 3px;
			background-image: none;
			background-color: #f0f0f0;
			padding: 12px 12px 4px;
			margin: 10px;
			font-style: italic;

			p {
				margin-bottom: 0.7em;
			}
		}

		.messageheader {
			@include oGridColspan(1);

			.participant,
			&.par {
				font-weight: bold;
			}
		}

		.timestamp {
			@include oGridColspan(3);
			color: #a16b78;
			text-align: right;

			@include oGridRespondTo(S) {
				@include oGridColspan(2);
			}

			@include oGridRespondTo(L) {
				@include oGridColspan(2);
			}

			@include oGridRespondTo(XL) {
				@include oGridColspan(2);
			}
		}

		&.blocked {
			background-color: #ebdfdf;
			border-top: 1px dotted #db908e;
			border-bottom: 1px dotted #db908e;
			margin-top: -2px;

			> div {
				background-color: #ebdfdf;
			}
		}

		&.prepub {
			.timestamp {
				display: none;
			}
		}

		.webchat-emoticon {
			margin: -2px 5px;
		}

		.picture {
			max-width: 95%;
			border: 1px solid #888888;
			padding: 2px;
			background-color: white;
		}

		.block {
			display: none;

			background-color: #ffffff;
			border: 1px solid #aaaaaa;
			padding: 3px;
			border-radius: 3px;
			cursor: pointer;
			color: #888888;
			font-size: 80%;
			position: absolute;
			top: 5px;
			right: 5px;

			&:hover {
				border-color: red;
				color: red;
			}
		}

		&.prepub .block {
			display: block;
		}

		.msg-action-container {
			display: none;
			position: absolute;
			right: 0;
			top: 2px;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			padding: 0px 5px;
		}

		.msg-action-button {
			margin: 0 3px;
		}
	}

	&.show-participant-options .msg:hover .msg-action-container {
		display: block;
	}

	&.show-participant-options .msg.prepub:hover .msg-action-container {
		display: none;
	}

	.blocknotice {
		position: absolute;
		top: 10px;
		right: 20px;

		text-transform: uppercase;
		font-weight: bold;
		font-size: 10px;
		color: oColorsGetPaletteColor('red');
	}

	.video-container {
		position: relative;
		padding-bottom: 56.25%;
		margin: 0px 10px 20px 0px;
		height: 0;
		overflow: hidden;
	}

	.video-container[data-aspect-ratio="16:9"] {
		padding-bottom: 56.25%;
	}

	.video-container[data-aspect-ratio="1:1"] {
		padding-bottom: 100%;
	}

	.video-container[data-aspect-ratio="4:3"] {
		padding-bottom: 75%;
	}

	.video-container div,
	.video-container iframe,
	.video-container object,
	.video-container embed,
	.video-container video,
	.video-container img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.morevideo {
		display: none;
	}
}


.webchat-live {
	.msg:not(.prepub):not(.separator):not(.sysmsg):last-child {
		background-color: #fde7da;
		border-top: 1px solid #a02d4f;
	}
}


.webchat-order-ascending {
	.webchat-content,
	.webchat-closed-content {
		display: flex;
		flex-direction: column;

		&:before {
			display: flex;
			flex: 1 1 auto;
			content: '';
		}

		.msg {
			flex: 0 0 auto;
		}
	}
}


.webchat-no-cors-support {
	.block {
		display: none !important;
	}

	.participant-options {
		display: none !important;
	}
}

@include oGridRespondTo($until: M) {
	.block {
		display: none !important;
	}

	.participant-options {
		display: none !important;
	}
}
