.webchat-container {
	.color-0 {
		color: #95ef8f;
	}

	.color-1 {
		color: #0000cc;
	}

	.color-2 {
		color: #990000;
	}

	.color-3 {
		color: #336633;
	}

	.color-4 {
		color: #ff6633;
	}

	.color-5 {
		color: #9900ff;
	}

	.color-6 {
		color: #417daf;
	}

	.color-7 {
		color: #a86839;
	}

	.color-8 {
		color: #0ef147;
	}

	.color-9 {
		color: #dd2222;
	}

	.color-10 {
		color: #0059ff;
	}

	.color-11 {
		color: #fc5cec;
	}


	.webchat-hidden {
		display: none;
	}
}

.webchat-fade {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	overflow: hidden;
	color: #bf6b7d;
	padding: 15px 0;
	z-index: 1;
}

.webchat-fade-top {
	padding-bottom: 30px;
	top: 0;
	$notificatoinFadeColorStart: rgba(255, 241, 224, 1);
	$notificatoinFadeColorStop: rgba(255, 241, 224, 0);

	background: transparent;
	background-image: linear-gradient(to bottom, $notificatoinFadeColorStart, $notificatoinFadeColorStop);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF6E9D8', endColorstr='#00F6E9D8',GradientType=0); /* ie6-9 */
}

.webchat-fade-bottom {
	padding-top: 30px;
	bottom: 0;
	$notificatoinFadeColorStart: rgba(255, 241, 224, 1);
	$notificatoinFadeColorStop: rgba(255, 241, 224, 0);

	background: transparent;
	background-image: linear-gradient(to top, $notificatoinFadeColorStart, $notificatoinFadeColorStop);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00F6E9D8', endColorstr='#FFF6E9D8',GradientType=0); /* ie6-9 */
}
