.webchat-container {
	.color-0 {
		color: oColorsGetPaletteColor('claret');
	}

	.color-1 {
		color: oColorsGetPaletteColor('teal-40');
	}

	.color-2 {
		color: oColorsGetPaletteColor('candy');
	}

	.color-3 {
		color: #f4a208;
	}

	.color-4 {
		color: oColorsGetPaletteColor('velvet');
	}

	.color-5 {
		color: oColorsGetPaletteColor('crimson');
	}

	.color-6 {
		color: oColorsGetPaletteColor('oxford-60');
	}

	.color-7 {
		color: oColorsGetTint('jade', 65);
	}

	.color-8 {
		color: oColorsGetPaletteColor('teal-80');
	}

	.color-9 {
		color: oColorsGetPaletteColor('org-b2c');
	}

	.color-10 {
		color: oColorsGetPaletteColor('sky');
	}

	.color-11 {
		color: oColorsGetPaletteColor('black-50');
	}


	.webchat-hidden {
		display: none;
	}

	a {
		color: oColorsGetPaletteColor('oxford');
		-webkit-font-smoothing: antialiased;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
