.webchat-container {
	.color-0 {
		color: oColorsByName('claret');
	}

	.color-1 {
		color: oColorsByName('teal-40');
	}

	.color-2 {
		color: oColorsByName('candy');
	}

	.color-3 {
		color: #f4a208;
	}

	.color-4 {
		color: oColorsByName('velvet');
	}

	.color-5 {
		color: oColorsByName('crimson');
	}

	.color-6 {
		color: oColorsByName('oxford-60');
	}

	.color-7 {
		color: oColorsGetTint('jade', 65);
	}

	.color-8 {
		color: oColorsByName('teal-80');
	}

	.color-9 {
		color: oColorsByName('org-b2c');
	}

	.color-10 {
		color: oColorsByName('sky');
	}

	.color-11 {
		color: oColorsByName('black-50');
	}


	.webchat-hidden {
		display: none;
	}

	a {
		&:hover {
			text-decoration: underline;
		}
	}
}
