.webchat-editor {
	.emoticons {
		padding: 10px 0;

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			list-style-type: none;
			display: inline;

			img {
				cursor: pointer;
				height: 15px;
			}
		}
	}

	form {
		padding: 5px 0 0;
		margin: 0;
	}

	.options {
		.check {
			margin-right: 3px;
		}
	}

	textarea {
		flex-basis: 100%;
		min-width: 100%;
		max-width: 100%;
		width: 100%;
		height: 75px;
		font-family: sans-serif;
		font-size: 0.9em;
		outline: none;
		resize: vertical;
	}

	.button {
		width: 80px;
	}

	.wiki-key {
		color: #a7a59b;
		line-height: 1;
		padding-top: 2px;
		font-size: 11px;

		.highlight {
			color: black;
			font-family: monospace;
			padding: 0 2px;
		}
	}

	.key-text {
		margin-top: 5px;
		padding: 3px 1px 3px 3px;
	}
}
