.webchat-editor {
	.webchat-emoticons {
		padding: 10px 0;

		ul {
			margin: 0;
			padding: 0;
		}
	}

	.webchat-emoticon-list-item {
		padding-bottom: 3px;
		list-style-type: none;
		display: inline-block;

		.webchat-emoticon {
			cursor: pointer;
		}
	}

	form {
		padding: 5px 0 0;
		margin: 0;
	}

	.session-options {
		padding-bottom: 5px;
	}

	.session-control {
		font-size: 14px;
	}

	textarea {
		font-size: 14px;
		min-height: 80px;
	}

	.button {
		width: 80px;
		display: block;
	}

	.wiki-key {
		color: #a7a59b;
		line-height: 1;
		padding-top: 2px;
		font-size: 11px;

		padding-top: 5px;

		.highlight {
			color: black;
			font-family: monospace;
			padding: 0 2px;
		}
	}

	.key-text {
		margin-top: 5px;
		padding: 3px 1px 3px 3px;
	}
}

.webchat-no-cors-support {
	.webchat-editor {
		display: none !important;
	}
}
