.webchat-msg-editform {
	@include oGridColspan(12);

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;

	textarea {
		font-size: 14px;
		min-height: 70px;
	}

	.button {
		margin: 3px 0;
		width: 100%;
		font-size: 14px;
		font-family: Arial, Helvetica, sans-serif;
		cursor: pointer;
	}
}
