.webchat-emoticon {
	display: inline-block;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
	line-height: 1em;
	vertical-align: text-bottom;
}

.webchat-emoticon--thumbs_down {
	background: url(oAssetsResolve("src/images/emoticons/thumbs_down.gif", webchat));
}

.webchat-emoticon--thumbs_up {
	background: url(oAssetsResolve("src/images/emoticons/thumbs_up.gif", webchat));
}

.webchat-emoticon--teeth_smile {
	background: url(oAssetsResolve("src/images/emoticons/teeth_smile.gif", webchat));
}

.webchat-emoticon--cry_smile {
	background: url(oAssetsResolve("src/images/emoticons/cry_smile.gif", webchat));
}

.webchat-emoticon--omg_smile {
	background: url(oAssetsResolve("src/images/emoticons/omg_smile.gif", webchat));
}

.webchat-emoticon--embarassed_smile {
	background: url(oAssetsResolve("src/images/emoticons/embarassed_smile.gif", webchat));
}

.webchat-emoticon--censored {
	background: url(oAssetsResolve("src/images/emoticons/censored.gif", webchat));
}

.webchat-emoticon--angry_smile {
	background: url(oAssetsResolve("src/images/emoticons/angry_smile.gif", webchat));
}

.webchat-emoticon--devil_smile {
	background: url(oAssetsResolve("src/images/emoticons/devil_smile.gif", webchat));
}

.webchat-emoticon--wink_smile {
	background: url(oAssetsResolve("src/images/emoticons/wink_smile.gif", webchat));
}

.webchat-emoticon--lightbulb {
	background: url(oAssetsResolve("src/images/emoticons/lightbulb.gif", webchat));
}

.webchat-emoticon--bandit1 {
	background: url(oAssetsResolve("src/images/emoticons/bandit1.gif", webchat));
	width: 32px;
}

.webchat-emoticon--bandit2 {
	background: url(oAssetsResolve("src/images/emoticons/bandit2.gif", webchat));
	width: 32px;
}

.webchat-emoticon--bandit3 {
	background: url(oAssetsResolve("src/images/emoticons/bandit3.gif", webchat));
	width: 32px;
}

.webchat-emoticon--bandit4 {
	background: url(oAssetsResolve("src/images/emoticons/bandit4.gif", webchat));
	width: 32px;
}

.webchat-emoticon--bandit5 {
	background: url(oAssetsResolve("src/images/emoticons/bandit5.gif", webchat));
	width: 32px;
}

.webchat-emoticon--bandit6 {
	background: url(oAssetsResolve("src/images/emoticons/bandit6.gif", webchat));
	width: 32px;
}

.webchat-emoticon--bandit7 {
	background: url(oAssetsResolve("src/images/emoticons/bandit7.gif", webchat));
	width: 32px;
}

.webchat-emoticon--bandit8 {
	background: url(oAssetsResolve("src/images/emoticons/bandit8.gif", webchat));
	width: 32px;
}

.webchat-emoticon--bandit9 {
	background: url(oAssetsResolve("src/images/emoticons/bandit9.gif", webchat));
	width: 32px;
}

.webchat-emoticon--bandit10 {
	background: url(oAssetsResolve("src/images/emoticons/bandit10.gif", webchat));
	width: 32px;
}

.webchat-emoticon--bear {
	background: url(oAssetsResolve("src/images/emoticons/bear.gif", webchat));
}

.webchat-emoticon--bull {
	background: url(oAssetsResolve("src/images/emoticons/bull.gif", webchat));
}

.webchat-emoticon--buy {
	background: url(oAssetsResolve("src/images/emoticons/buy.gif", webchat));
}

.webchat-emoticon--sell {
	background: url(oAssetsResolve("src/images/emoticons/sell.gif", webchat));
}

.webchat-emoticon--cash {
	background: url(oAssetsResolve("src/images/emoticons/cash.gif", webchat));
}

.webchat-emoticon--danger {
	background: url(oAssetsResolve("src/images/emoticons/danger.gif", webchat));
}

.webchat-emoticon--deadcat {
	background: url(oAssetsResolve("src/images/emoticons/deadcat.gif", webchat));
}

.webchat-emoticon--feltcollaredsource {
	background: url(oAssetsResolve("src/images/emoticons/feltcollaredsource.gif", webchat));
}

.webchat-emoticon--financier {
	background: url(oAssetsResolve("src/images/emoticons/financier.gif", webchat));
}

.webchat-emoticon--rocket {
	background: url(oAssetsResolve("src/images/emoticons/rocket.gif", webchat));
}

.webchat-emoticon--scorchedfingers {
	background: url(oAssetsResolve("src/images/emoticons/scorchedfingers.gif", webchat));
}

.webchat-emoticon--swag {
	background: url(oAssetsResolve("src/images/emoticons/swag.gif", webchat));
}

.webchat-emoticon--tinhat {
	background: url(oAssetsResolve("src/images/emoticons/tinhat.gif", webchat));
}

.webchat-emoticon--separator {
	background: url(oAssetsResolve("src/images/emoticons/separator.gif", webchat));
}

.webchat-emoticon--breaking_news {
	background: url(oAssetsResolve("src/images/emoticons/breaking_news.gif", webchat));
	width: 109px;
}
