.webchat-header {
	@include oGridRespondTo($until: M) {
		display: none;
	}

	.webchat-title {
		display: none;
	}

	.webchat-lozenge {
		display: none;
	}

	.webchat-excerpt {
		display: none;

		h2 {
			padding-bottom: 10px;
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 0;
		}
	}

	.webchat-keypoints {
		display: none;

		ul {
			margin-top: 0;
		}
	}
}
